.home {
  height: 100%;
  background: url('~airplane-bgrd.jpg') center center no-repeat / cover !important;

  & .container {
    padding-top: 25px;

    & nav {
      background: $dark-blue;
      background: linear-gradient(to left, $light-blue, $dark-blue);
      margin-top: 25px;

      & .input-field input {
        &:focus {
          &::placeholder {
            color: $grey;
          }
        }
        &::placeholder {
          color: #fff;
        }
      }
    }
  }
}
