<%% var title = 'Location' %>
<% include client/partials/header %>

    <% include client/partials/nav %>

    <main class="container">
        <h2 class="place__name"></h2>
        <div class="row">
            <div class="col s12 place__results cards-container"></div>
        </div>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </main>
    
    <input class="is-logged-in" type="hidden" value="<%%= (user) ? 'true' : 'false' %>">

<%% var google = true %>
<% include client/partials/footer %>