<%% var title = 'Location' %>
<% include client/partials/header %>

    <% include client/partials/nav %>

    <main class="container">
        <h2 class="place__name"></h2>
        <div class="place__results row"></div>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </main>
    

<%% var google = true %>
<% include client/partials/footer %>