    <%% if (typeof google !== 'undefined' && google) { %>
    <!-- Import Google Places API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYlbzHkh8NuvIE8NVPdu0K5vgraQuoZbo&libraries=places"></script>
    <%% } %>
  </body>
</html>
