<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%%= title %></title>

    <!-- Import Google Fonts & Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Gravitas+One|Lato:300,400,700" rel="stylesheet">

    <!-- Import Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  </head>

  <body<%% if (typeof bodyClass !== 'undefined') { %> class="<%%= bodyClass %>"<%% } %>>
