<nav>
  <div class="container nav-wrapper">
    <a href="#" class="brand-logo">I Need A Vacation</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%% navItems.forEach(function(item) { %>
        <li><a href="<%%= item.link %>"><%%= item.text %></a></li>
      <%% }) %>
    </ul>
  </div>
</nav>
