<nav class="main-nav">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">V2</a>
    <ul class="manu-list">
      <%% menu.forEach(function(item) { %>
        <li><a href="<%%= item.link %>"><%%= item.text %></a></li>
      <%% }) %>
    </ul>
  </div>
</nav>
