.card {
  position: relative;
  width: 100%;

  &-panel {
    @media screen and (max-width: 1200px) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  &__overlay {
    background-color: rgba(255,255,255,0.75);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    & > a {
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }

  &-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3rem !important;
    line-height: normal !important;
    margin: 15px 0 25px 0 !important;
    text-align: center;

    & .author {
      color: lighten($grey, 35%) !important;
      font-size: 1rem;
    }
  }

  &-image {
    height: auto;

    & > img {
      height: 100%;
    }
  }

  &-separator {
    border-top: 1px solid lighten($grey, 65%);
    margin: 25px auto;  
    width: 35%;
  }

  &-info {
    color: lighten($grey, 45%);
    font-family: 'Playfair Display', sans-serif;
    font-size: 1rem;
    text-align: center;
  }

  &--margin {
    margin: 100px;

    &-top {
      margin-top: 25px;
    }
  }

  &-action {
    position: relative !important;

    & ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }
}

.cards-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-break-inside: avoid;

  & .card {
    display: inline-block;
    overflow: visible;
  }

  @media only screen and (max-width: 1195px) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  @media only screen and (max-width: 700px) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}