.card {
  position: relative;

  &__overlay {
    background-color: rgba(255,255,255,0.75);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    & > a {
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }

  &-image {
    height: 375px;

    & > img {
      height: 100%;
    }
  }

  &--margin {
    margin: 100px;

    &-top {
      margin-top: 25px;
    }
  }

  &-action {
    position: relative !important;

    & .fixed-action-btn {
      position: absolute !important;
      top: 13px;
    }
  }
}
