.place {
  &__name {
    @media only screen and (max-width: 540px) {
      font-size: 1.5rem !important;
    }

    @media only screen and (max-width: 390px) {
      font-size: 1rem !important;
    }
  }

  &__item {
    & .card {
      background-color: #fff;

      & .card-image {
        overflow: visible;
      }

      & .card-content {
        position: relative;
        min-height: 80%;
      }

      & .card-action {
        min-height: 65px;

        & ul {
          & li {
            margin-right: 10px;

            &::last-child {
              margin-right: 0;
            }
          }
        }
      }

      & .input-field {
        & blockquote {
          padding-left: 15px;
        }

        & #description {
          margin-bottom: 0;

          & + label {
            left: 20px;
          }
        }
      }

      & .fixed-action-btn {
        position: static !important;

        & ul {
          right: 78px;
          top: 62%;
        }
      }
    }
  }

  &__review-form {
    display: none;
    padding: 24px;

    &--active {
      display: block;
    }
  }
}
