<%% var title = 'Signup' %>
<%% var bodyClass = 'white' %>
<% include client/partials/header %>

  <% include client/partials/nav %>

    <div class="container">
      <div class="card-panel card--margin grey lighten-5">
        <div class="row">
          <form class="col s12">

            <div class="row row--no-margin">
              <div class="input-field col s12">
                <input placeholder="Email" id="email" type="email" name="email">
                <label for="email"></label>
              </div>
            </div>

            <div class="row row--no-margin">
              <div class="input-field col s6">
                <input placeholder="Username" id="username" type="text" name="username">
                <label for="username"></label>
              </div>

              <div class="input-field col s6">
                <input placeholder="Password" id="password" type="password" name="password">
                <label for="password"></label>
              </div>
            </div>

            <button class="btn btn-large btn--full-width btn--margin-top waves-effect waves-light" type="submit">Signup</button>
          </form>

          <div class="col s12">
            <div class="error-message card-panel card--margin-top red darken-1 white-text hide"></div>
          </div>
        </div>
      </div>
    </div>

<% include client/partials/footer %>
