<li class="review">
    <p class="review__author">{{#if this.author}}
                                Author: {{this.author.username}}
                            {{else}}
                                Anonymous
                            {{/if}}</p>
    <p class="review__text">- {{this.description}}</p> 
</li>