.place {
  & > nav {
    background: #67B26F;
    background: linear-gradient(to left, #67B26F , #4ca2cd);
    border-bottom: 3px solid #fff;
  }
  &__name {
    margin: 0;
    margin-left: 15px;

    @media only screen and (max-width: 540px) {
      font-size: 1.5rem !important;
    }

    @media only screen and (max-width: 390px) {
      font-size: 1rem !important;
    }
  }

  &__item {
    & .card {
      background-color: #fff;
      min-height: 610px;

      & .card-image {
        overflow: visible;
      }

      & .card-content {
        position: relative;
        min-height: 80%;
      }

      & .card-reveal {
        overflow: hidden;
      }

      & .card-action {
        bottom: 0;
        min-height: 73px;
        overflow: auto;
        position: absolute;
        width: 100%;

        & .br-wrapper {
          margin-top: 10px;
        }

        & a {
          color: $main-green !important;
          margin-right: 15px !important;
        }
      }
    }
  }

  &__categories {
    padding: 10px;
    padding-bottom: 0;
  }

  &__category {
    margin: 5px 10px;
  }

  &__hours {
    font-size: 1rem;
    font-style: italic;
  }

  &__rating {
    font-style: italic;
  }

  &__price {
    cursor: default;
    margin: 0;
    &--1 {
      padding-left: 16px;
    }
    &--2 {
      padding-left: 12px;
    }
    &--3 {
      padding-left: 8px;
    }
    &--4 {
      padding-left: 4px;
    }
  }
}
