* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $light-blue;
}

.map {
  height: 100%;
  width: 100%;
}

.activator {
  cursor: pointer;
}

.progress {
  background-color: $light-blue;

  & .indeterminate {
    background-color: $dark-blue;
  }
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected::after,
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  color: $dark-blue;
}

.no-margin {
  margin: 0 !important;
}
