* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $light-blue;
}

.map {
  height: 100%;
  width: 100%;
}

.activator {
  cursor: pointer;
}

.progress {
  background-color: $light-blue;

  & .indeterminate {
    background-color: $dark-blue;
  }
}

.btn, .btn-large {
  background-color: $dark-blue;
}

.btn-flat {
  background-color: transparent;
}

.btn:hover, .btn-large:hover {
  background-color: $light-blue;
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected::after,
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  color: $dark-blue;
}
