<%% var title = 'Login' %>
<%% var bodyClass = 'white' %>
<% include client/partials/header %>

  <% include client/partials/nav %>

    <div class="container">
      <div class="card-panel card--margin grey lighten-5">

        <div class="fixed-action-btn">
          <a id="demo-menu" class="waves-effect waves-light btn btn-large btn-floating pulse" ><i class="material-icons">menu</i></a>
        </div>

        <div style="background-color: #031989;" class="demo-info tap-target" data-activates="demo-menu">
          <div style="color: #fff;" class="tap-target-content">
            <h6 style="font-size: 1.25rem; text-decoration: underline;">Demo Account</h6>
            <p style="margin-top: 5px;">
              <strong>Username:</strong> demo<br>
              <strong>Password:</strong> demo
            </p>
          </div>
        </div>

        <div class="row">
          <form class="col s12">

            <div class="row row--no-margin">
              <div class="input-field col s12 m6">
                <input placeholder="Username" id="username" type="text" name="username" value="demo">
                <label for="username"></label>
              </div>

              <div class="input-field col s12 m6">
                <input placeholder="Password" id="password" type="password" name="password" value="demo">
                <label for="password"></label>
              </div>
            </div>

            <input type="hidden" value="<%%= redirect %>" name="redirect" />

            <button class="btn btn-large btn--full-width btn--margin-top waves-effect waves-light" type="submit">Login</button>
          </form>

          <div class="col s12">
            <div class="error-message card-panel card--margin-top red darken-1 white-text hide"></div>
          </div>
        </div>
      </div>
    </div>

<% include client/partials/footer %>
